.nav__link {
  color: peachpuff;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  transition: 300ms;


  @include content-hover;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

//animat

.nav__link {
  display: inline-block;
  transition: transform 0.2s ease, letter-spacing 0.3s;
  will-change: transform;
}